- content_for :merge_access_levels do
  .merge_access_levels-container
    = dropdown_tag('Select',
                   options: { toggle_class: 'js-allowed-to-merge qa-allowed-to-merge-select js-multiselect gl-w-full! gl-form-lg',
                   dropdown_class: 'dropdown-menu-user dropdown-menu-selectable qa-allowed-to-merge-dropdown capitalize-header', filter: true,
                   data: { input_id: 'merge_access_levels_attributes', default_label: 'Select' } })
- content_for :push_access_levels do
  .push_access_levels-container
    = dropdown_tag('Select',
                   options: { toggle_class: 'js-allowed-to-push qa-allowed-to-push-select js-multiselect gl-w-full! gl-form-lg',
                   dropdown_class: 'dropdown-menu-user dropdown-menu-selectable qa-allowed-to-push-dropdown capitalize-header', filter: true,
                   data: { input_id: 'push_access_levels_attributes', default_label: 'Select' } })
  .form-text.text-muted
    You can add only groups that have this project shared.
    = link_to 'Learn more.', help_page_path('user/project/members/share_project_with_groups')

= render 'projects/protected_branches/shared/create_protected_branch'
